$unit: 20px;

$foreground_main_color: hsla(216, 84%, 95%, 1);
$background_main_color: #1158bf;
$link_color: #1158bf;
$link_hover_color: #1158bf + #333;

$base_font: 'ProximaNova', 'Helvetica Neue', 'Calibri';

$feed_font_size: 14px;

$feed_item_background: hsla(216, 84%, 97%, 1);

$mobile_break_point: 500px;
