.login-ctrl {
  text-align: center;
  
  .logo {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-top: $unit * 2;
    margin-bottom: $unit * 2;
  }
  .prompt {
    margin-bottom: $unit * 2;
  }
  .user {
    display: inline-block;
    margin: $unit;
  }
  .user-thumb {
    width: 100px;
    border-radius: 3px;
    border: 3px solid $background_main_color;
    margin-bottom: $unit/2;
  }

  .user:hover {
    .user-name {
      text-shadow: 0px 0px 2px #000;
      color: #fff;
    }
    .user-thumb {
      box-shadow: 0px 0px 1px 1px #fff;
    }
  }
}
